<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <IncludeModulePaths>
            <IncludeModulePath>.*Tidalarr.dll</IncludeModulePath>
          </IncludeModulePaths>
          <ExcludeByFile>
            <Exclude>**/tests/**</Exclude>
            <Exclude>**/ext/**</Exclude>
            <Exclude>**/obj/**</Exclude>
            <Exclude>**/bin/**</Exclude>
          </ExcludeByFile>
          <Exclude>
            <Assembly>*.Tests</Assembly>
            <Assembly>xunit.*</Assembly>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>

